/* Custom Properties */
:root {
    --page-title: #ff9614;
    --footer-bg: #7c69a4;
    --hr-color: #f7972e; 
    --main-bg: #f6f5f3;
    --main-white: #ffffff;
    --main-gray: #999999;
    --title-color: #4e3969;
    --fb-color: #1a77f3;
    --twitter-color: #009eff;
    --insta-color: #e15b8d;
    --pinter-yt-color: #e62222;
}


/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: var(--main-bg);
    font-family: "Montserrat", serif;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

ul {
    list-style-type: none;
}

/* COMMON */
/* Layout */
.container {
    width: 100%;
    padding: 0 20px;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

/* HEADER */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: var(--main-white);
}

h1 {
    font-family: "Nerko One", serif;
    color: var(--page-title);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3); 
    text-transform: uppercase;
}

hr {
    border: 1px solid var(--hr-color);
    width: 20%;
}

/* MAIN */
/* Recipe Section */
.hidden {
    display: none;
}

h4 {
    padding: 20px 0;
}

/* Video Block */
iframe {
    width: 100%;
    margin-bottom: -10px;
}

/* Title Block */
.category {
    text-transform: uppercase;
    color: var(--main-gray);
    padding: 10px 0;
}

.recipe-title h3 {
    font-size: 1.4rem;
    padding-bottom: 10px;
    color: var(--title-color);
}

/* Text Block */
.text-block {
    padding: 0 20px;
    background-color: var(--main-white);
}

.info {
    padding-bottom: 10px;
}

/* Social Links Section */
.social-links {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}

.link a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 30px;
    border-radius: 15px;
    font-size: 0.9rem;
    background-color: var(--main-white);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.facebook i {
    color: var(--fb-color);
}

.twitter i {
    color: var(--twitter-color);
}

.instagram i {
    color: var(--insta-color);
}

.pinterest i,
.youtube i {
    color: var(--pinter-yt-color);
}

.hidden-links {
    display: none;
}

/* Banner Section */
.banner-section {
    display: none;
}

/* Presentation Section */
h2 {
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 10px;
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    line-height: 1.5;
}

.presentation .presentation-img {
    width: 50%;
}

.presentation-text {
    padding-bottom: 40px;
}

/* Footer Section */
.footer {
    background-color: var(--footer-bg);
}

.footer-right ul {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}


/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
    /* HEADER */
    .header {
        justify-content: flex-start;
        padding: 10px;
    }

    /* MAIN */
    /* Recipe Section */
    .hidden {
    display: block;
    }

    .recipe-title h3 {
        display: flex;
        gap: 10px;
    }
    
    .info-list {
        display: flex;
        flex-wrap: wrap;
    }

    iframe {
        height: 400px;
    }

    .info {
        width: calc(100% / 3);
        padding-bottom: 30px;
    }

    h4 {
        padding-bottom: 30px;
    }

    /* Social Links Section */
    .link a {
        width: 120px;
    }

    /* Banner Section */
    .banner-section {
        display: block;
    }

    /* Presentation Section */
    .presentation {
        display: block;
    }
    .presentation-img {
        float: left;
        width: 30%;
        padding: 0 10px 10px 0;
    }

    h2 {
        padding-top: 20px;
    }
}

@media screen and (min-width: 992px) {
    /* COMMON */
    /* Layout */
    .container {
        width: 80%;
        max-width: 1100px;
        margin: 0 auto;
    }

    /* HEADER */
    .header {
        justify-content: flex-start;
        padding: 10px;
    }

    /* MAIN */
    /* Recipe Section */
    .hidden {
        display: inline-block;
    }

    .card {
        display: flex;
    }

    .img-block {
        width: 70%;
    }

    .text-block {
        width: 30%;
    }

    .info {
        width: 100%;
    }

    /* Social Links Section */
    .hidden-links {
        display: block;
        text-transform: uppercase;
        font-weight: 600;
    }

    .link a i {
        margin-right: 6px;
    }

    /* Banner Section */
    .banner-section {
        display: block;
    }

    /* Footer Section */
    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-right ul {
        gap: 10px;
    }
}